* {
    font-family: 'Anton', sans-serif;
}

body{
    background-color: #3AB4B9;
}

input[type="radio"], input[type="checkbox"]{
    -webkit-appearance: none;
    background-color: #fff;
}
input[type="radio"]:checked, input[type="checkbox"]:checked{
    background-color: #3AB4B9;
    border-color: #3AB4B9;
}

.tabular{
    background-color: #3AB4B9;
    color: #fff;
}
.main-title{
    color:  #3AB4B9;
    margin: 30px;
    font-size: 40px;
    text-align: center;
}

.main-title::after
{
    content: '';
    display: block;
    width: 30%;
    height: 2px;
    background: #3AB4B9;
    margin: 0 auto;
}
.conteudo{
    margin-top: 50px;
    padding:50px;
    background-color: #fff; 
    border-radius: 25px;
}
.forms{
    align-items: center;
    font-size: 25px;
}
.form-label{ 
    color: #3AB4B9;
}
.form-control{
    font-size: 25px; 
}

.steps{
    margin-top: 10px;
}
label{
    color: #6c6c6c;
}

.next{
    font-size: 40px;
    color: #3AB4B9;
    font-weight: 900;
    border-radius: 15px;
    border: 5px solid #3AB4B9;
}
.next:hover{
    font-size: 40px;
    font-weight: 900;
    color: #fff;
    background-color:#3AB4B9;
    border-radius: 15px;
    border: 5px solid #3AB4B9;
}

.results{
    text-align: left;
}

.area-result{
    border: 5px solid #3AB4B9;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
/* The heart of the matter */
          
.horizontal-scrollable > .row {
    overflow-x: auto;
    white-space: nowrap;
}
  
.horizontal-scrollable > .row > .campo {
    display: inline-block;
    float: none;
}

.grafico{
    padding: 10px;
}



.alert {
    padding: 20px;
    font-size: 15px;
}
.closebtn {
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

@media screen and (max-width: 720px) {
    *,h3, .forms, .results, .form-control{
        font-family: 'Anton', sans-serif;
        font-size: 12px;
    }
    .next,.next:hover{
        font-size: 20px; 
    }
    .alert {
        font-size: 15px; 
    }
}