{% extends 'base.html' %}

{% block content %}

    <br><br><br><br><br>

    <div class="container">
        <form method="post">
            {% csrf_token %}

            <div class="form-group">
                <label>Nº de variáveis:</label>
                {{form.numVar}}
            </div>
            <div class="form-group">
                <label>Nº de restrições:</label>
                {{form.numRest}}
            </div>

            <fieldset class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        {% for option in form.exibition_type %}
                        <div class="form-check">
                            {{option}}
                        </div>
                        {% endfor %}
                    </div>

                    <div class="col-sm-6">
                        {% for option in form.method %}
                        <div class="form-check">
                            {{option}}
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </fieldset>

             <div class="form-group">
                <div class="form-check">
                    {{form.integer_solution}}
                    <label class="form-check-label">
                        {{form.integer_solution.label}}
                    </label>
                </div>
            </div>

            <input type="submit" value="Continuar">
        </form>

    </div>

{% endblock %}