<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>First-Step</title>
</head>
<body>
    <br><br><br><br><br>

    <div class="container">
        <form method="post">
            {% csrf_token %}

<!--            {% for field in form.visible_fields  %}-->

<!--            <div class="form-group">-->
<!--                <label>{{ field.label }}</label>-->

<!--                {{ field }}-->
<!--            </div>-->

<!--            {% endfor %}-->

            <div class="form-group">
                <label>Nº de variáveis:</label>
                {{form.numVar}}
            </div>
            <div class="form-group">
                <label>Nº de restrições:</label>
                {{form.numRest}}
            </div>

<!--            <div class="form-group">-->
<!--            <div class="form-row">-->
<!--                <div class="col-md-6">-->
<!--                    <div class="form-check">-->
<!--                    {{form.exibition_type}}-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-6">-->
<!--                    <div class="form-check">-->
<!--                    {{form.method}}-->
<!--                    </div>-->

<!--                </div>-->
<!--            </div>-->
<!--            </div>-->

            <fieldset class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        {% for option in form.exibition_type %}
                        <div class="form-check">
                            {{option}}
                        </div>
                        {% endfor %}
                    </div>

                    <div class="col-sm-6">
                        {% for option in form.method %}
                        <div class="form-check">
                            {{option}}
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </fieldset>

             <div class="form-group">
                <div class="form-check">
                    {{form.integer_solution}}
                    <label class="form-check-label">
                        {{form.integer_solution.label}}
                    </label>
                </div>
            </div>

            <input type="submit" value="Continuar">
        </form>

    </div>
</body>
</html>