{% extends 'base.html' %}

{% block content %}

    <br><br><br><br><br>
     <div class="container">
        <form method="post">{% csrf_token %}

            <div class="row">

            <p>Qual o objetivo da função? </p>

            <div class="col-md-3">
                    {{ form.objective }}
            </div>

            <br><br><br>

            </div>


            <div class="row">

            <p>Função Objetivo:</p>
            {% for field in form.visible_fields|slice:sliceObjet  %}

                <div class="col">
                    {{ field }}
                </div>

                <div class="col-form-label">
                    <label>{{ field.label }}</label>
                </div>



            {% endfor %}

            </div>

            <br><br>

            <p>Restrições:</p>

            <div class="form-row mb-3">
            {% for field in form.visible_fields|slice:sliceRest  %}
                <div class="col">
                    {{ field }}
                </div>

                {% if field.label != "dontShow" and field.label != "signal" %}
                <div class="col-form-label">
                    <label>{{ field.label }}</label>
                </div>
                {% endif %}

                <!--  It's the last input of the row -->
                {% if field.label == "dontShow" %}
                    <!--  Close old row -->
                    </div>
                    <!--  Starts a new one -->
                    <div class="form-row mb-3">
                {% endif %}


            {% endfor %}

            <!--  Close the last row -->
            </div>



            <br><br>

            <input type="submit" value="Continuar">

        </form>
    </div>

{% endblock %}