{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <img src="{% static '/images/step2.png' %}" class="img-fluid steps" alt="">
    <form method="post">
        {% csrf_token %}
        <div class="forms d-flex justify-content-center">
            <div class="col-12">
                <div class="mb-4 text-center">
                    <label class="form-label">Qual o objetivo da função?</label>
                    <div class="d-flex justify-content-center">
                        <div class="col-6">
                            {{ form.objective }}
                        </div>
                    </div>
                </div>
                <div class="mb-4 horizontal-scrollable text-center">
                    <label  class="form-label">Função Objetivo:</label>   
                    <div class="row gx-0 mb-3 text-center d-block">            
                        {% for field in form.visible_fields|slice:sliceObjet  %}
                            <div class="campo col-3 col-sm-3 col-md-2 col-lg-2 col-xl-1 ">
                                {{ field }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="mb-4 horizontal-scrollable text-center">
                    <label  class="form-label">Restrições:</label>
                    <div class="row gx-0 mb-4 text-center d-block">
                        {% for field in form.visible_fields|slice:sliceRest  %}
                            <div class="campo col-3 col-sm-3 col-md-3 col-lg-2 col-xl-1 ">
                                {{ field }}
                            </div>
                
                            <!--  It's the last input of the row -->
                            {% if field.label == "dontShow" %}
                                <!--  Close old row -->
                                </div>
                                <!--  Starts a new one -->
                                <div class="row gx-0 mb-4 text-center d-block">
                            {% endif %}
                        {% endfor %}        
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex bd-highlight mb-4">
            <div class="me-auto p-2 bd-highlight">
                <button type="button" class="btn next"><i class="bi bi-caret-left-fill"></i>VOLTAR </button>
            </div>
            <div class="ms-auto p-2 bd-highlight">
                <button type="submit" class="btn next">PRÓXIMO <i class="bi bi-caret-right-fill"></i></button>
            </div> 
        </div>
    </form>
</div>
{% endblock %}