{% extends 'base.html' %}
{% load static %}

{% block content %}
    <br><br><br><br>
    <div class="container">
        <h1>Resultado Tabular</h1>

        {% for table in tables %}
            <table class="table table-bordered mt-5">
                <thead>
                    <tr>
                        {% for header in headers %}
                            <th scope="col">{{header}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for line in table %}
                        <tr>
                            {% for column in line %}
                                <td>{{column}}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}



        <p>Ponto ótimo: [
            {% for var in optimum_point %}
                {{var}};
            {% endfor %}
            ]
        </p>

        <p>Valor ótimo: {{optimum_value}}</p>

    </div>


</div>

{% endblock %}